[submodule "XSLTForms1.5"]
	path = nexui/static/xsltforms1.5
	url = git://github.com/AlainCouthures/declarative4all.git
[submodule "asn1"]
	path = nexui/scap4nexui/asn1
	url = git@github.com:hurufu/nexoid-protocol-collection.git
