body {
    background: #5da5e7 url(https://external-preview.redd.it/NAbc4A6OIumHsQaTLoTJrbF-qze-IcMvcH6-b15Rcps.png?blur=40&format=pjpg&auto=webp&s=80269aa2b15409c7428780e1aafb83426973accb) center top no-repeat;
    font-family: sans-serif;
    color: #003f70;
}

ul#header {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

img.logo {
  height: 36px;
  vertical-align: middle;
}

.text {
    text-align: center;
    font-variant: normal;
}

#user_data {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
}

#transaction_info {
    background: rgba(255, 255, 255, 0.5);
    width: max-content;
    margin: 10px;
    padding: 10px;
}

#card_info {
    width: max-content;
    background: rgba(255, 255, 255, 0.5);
    margin: 10px;
    padding: 10px;
}

#controls {
    margin: 10px;
    width: min-content;
}

#transaction_info dl dt {
    font-variant: small-caps;
    color: gray;
}

#amount xforms-body input {
    width: 5em;
}
