/* Remove hint mark "ğ¢" after label */
.hint-is-tooltip xforms-hint-mark::after {
    content: none;
}

.hint-is-tooltip xforms-hint {
    visibility: hidden;
    display: inline-block;
}

.hint-is-tooltip:hover xforms-hint {
    visibility: visible;
}
